.find {
  margin: 20px auto;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  border: 1px solid rgba(244, 247, 62, 0.809);
}
input {
  margin-left: 15px;
}
